name: Build & Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

# permissions:
#   contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Build with esbuild
        run: npm run build

      - name: Invoke echo 1 workflow using this action
        uses: ./
        with:
          workflow: Message Echo 1
          inputs: '{"message": "blah blah"}'

      - name: Invoke echo 2 workflow using this action
        uses: ./
        with:
          workflow: echo-2.yaml

      - name: Invoke echo 1 workflow by id
        uses: ./
        with:
          workflow: '1854247'
          inputs: '{"message": "Mango jam"}'
