name: Message Echo 3

on:
  workflow_dispatch:
    inputs:
      message:
        required: false
        default: 'this is echo 3'
        description: 'Message to echo'

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Intentional failure
        run: exit 1
